language: php

php:
  - 7.2
  - 7.3
  - 7.4
  - 8.0

before_script:
  - pecl install --onlyreqdeps --nobuild swoole && cd "$(pecl config-get temp_dir)/swoole" && phpize && ./configure --enable-openssl && make -j$(nproc) && make -j$(nproc) install && cd -
  - composer install

script: composer test
